:root {
    --darkgray: rgb(19, 19, 19)
}



body {
    background-color: var(--darkgray);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 40px;
    background-color: rgb(39, 39, 39);
    width: 30%;
    min-width: 250px;

}

.input {
    display: flex;
    flex-direction: column;
}

.input-field {
    background-color: ;
    display: flex;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}